.header {
    background-image: url('../images/spacex-launches-small.jpeg');
}

.si-calendarModal .si-calendarCore {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.si-calendarModal .si-day {
    width: 48px;
    height: 48px;
    border: 1px solid;
    margin: 1px;
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}