.header {
    background-image: url('../images/spacex-home-small.jpeg');
}

.companyInfo {
    height: 250px;
    background-color: lightgreen;
}

.companyMap {
    height: 200px;
    background-color: lightcoral;
}