.header {
    background-image: url('../images/spacex-home-small.jpeg');
}

.companyInfo {
    display: flex;
    justify-content: space-between;
}

.companyMap {
    height: 200px;
    background-color: lightcoral;
}