h1 {
    color: blue;
}

div.specialText {
    color: green;
}

span {
    font-size: smaller;
}

p > span {
    background-color: lightsalmon;
}

span {
    background-color: red;
}

.header {
    height: 220px;
    background-color: beige;
}

.menu {
    padding: 10px 0 10px 0;
}

.tiledContent {
    display: flex;
    flex-wrap: wrap;
}

.contentTile {
    width: 250px;
    height: 150px;
    background-color: lightblue;
    margin: 5px;
}

.popup {
    position: fixed;
    width: 400px;
    height: 400px;
    background-color: lightpink;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}