.header {
    height: 220px;
    background-color: beige;
}

.menu {
    padding: 10px 0 10px 0;
}

.tiledContent {
    display: flex;
    flex-wrap: wrap;
}

.contentTile {
    width: 250px;
    height: 150px;
    background-color: lightblue;
    margin: 5px;
}

.popup {
    display: none;
    position: fixed;
    height: 400px;
    background-color: lightpink;
    top: 50%;
    left: 50%;
    margin-top: -200px;
}

.popupHeader {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 8px 0 8px;
}

.popupHeader > span {
    cursor: pointer;
}

.medium {
    width: 600px;
    margin-left: -300px;
}

.small {
    width: 400px;
    margin-left: -200px;
}